<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.mapper.TagsMapper">
    <select id="findByTagnum" resultType="String">
        select tagname from article_tags where tagnum = #{tagnum}
    </select>
    <select id="queryAlltags" resultType="Tags">
        select * from article_tags;
    </select>
</mapper>